<nav class="navbar navbar-expand-md navbar-light">

  <a class="navbar-brand font-weight-bold" routerLink="/web">
    <span>My Shop</span>
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
    aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Enter your location" name="search" value="Anna salai, chennai"  class="searchInput">
      <i class="fa fa-map-marker " aria-hidden="true" title="Find Your Location"></i>
      <button type="submit" value="" class="shopBtn">FIND SHOP</button>
    </form>
  </div>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="basicExampleNav1">

    <!-- Right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link navbar-link-2 waves-effect">
          <span class="badge badge-pill red">1</span>
          <i class="fa fa-shopping-cart pl-0"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/shop" class="nav-link waves-effect">
          Shop
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link waves-effect">
          Contact
        </a>
      </li>
      <li class="nav-item signIn">
        <a class="nav-link waves-effect" routerLink="/login">
          Sign in
        </a>
      </li>
      <li class="nav-item pl-2 mb-2 mb-md-0 signUp">
        <a type="button"
          class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light" routerLink="/customer_register" >Sign up</a>
      </li>
    </ul>

  </div>
  <!-- Links -->

</nav>
<!-- Navbar -->