.fPass{
    float: right;
    margin: 5px 0 15px 0;
}

.fPass a{
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.fPass a:hover{
    text-decoration: underline;
}

.errorAlt{
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500;
}
