<div class="row mb-5">
    <div class="col-lg-3 col-12">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/01/28/19/06/label-2016248_1280.png" class="card-img-top productImg" alt="shop image">
            <div class="card-body">
              <h5 class="card-title">Shop One</h5>
              <p class="card-text">
                <img class="rating mr-1" src="https://eikard.com/Menu/image_menu/star4.svg" alt="rating" />
                <span class="ratingTxt">(5,000)</span>
              </p>
              <a href="#" class="btn btn-primary">Shop Now</a>
              <div class="km">
                <i class="fa fa-map-marker kmIcon" aria-label="true"></i>7km nearest
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/01/28/19/06/label-2016248_1280.png" class="card-img-top productImg" alt="shop image">
            <div class="card-body">
              <h5 class="card-title">Shop Two</h5>
              <p class="card-text">
                <img class="rating mr-1" src="https://eikard.com/Menu/image_menu/star4.5.svg" alt="rating" />
                <span class="ratingTxt">(100)</span>
              </p>
              <a href="#" class="btn btn-primary">Shop Now</a>
              <div class="km">
                <i class="fa fa-map-marker kmIcon" aria-label="true"></i>10km nearest
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/01/28/19/06/label-2016248_1280.png" class="card-img-top productImg" alt="shop image">
            <div class="card-body">
              <h5 class="card-title">Shop Three</h5>
                <p class="card-text">
                  <img class="rating mr-1" src="https://eikard.com/Menu/image_menu/star3.5.svg" alt="rating" />
                  <span class="ratingTxt">(1,000)</span>
                </p>
              <a href="#" class="btn btn-primary">Shop Now</a>
              <div class="km">
                <i class="fa fa-map-marker kmIcon" aria-label="true"></i>5km nearest
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card" style="width: 18rem;">
          <img src="https://cdn.pixabay.com/photo/2017/01/28/19/06/label-2016248_1280.png" class="card-img-top productImg" alt="shop image">
          <div class="card-body">
            <h5 class="card-title">Shop Four</h5>
              <p class="card-text">
                <img class="rating mr-1" src="https://eikard.com/Menu/image_menu/star5.svg" alt="rating" />
                <span class="ratingTxt">(1,000)</span>
              </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
            <div class="km">
              <i class="fa fa-map-marker kmIcon" aria-label="true"></i>2km nearest
            </div>
          </div>
        </div>
  </div>
</div>