<div class="row">
    <div class="col-12">
        <div class="row bannerImg1">
            <div class="col"></div>
            <div class="col-lg-6 text-align-left col-12 p-5">
                <h1 class="mb-0">BEST DEALS ON JUICE SHOPS </h1>
                <small>more discounts</small>
                <div class="text-align-left mt-3">
                    <button class="btn btn-primary mr-3 mt-0">Shop Now</button>
                    <button class="btn btn-secondary mr-3 mt-0">Shop Later</button>
                </div>
            </div>
        </div>
    </div>
</div>