<div class="row">
    <div class="col-12">
        <div class="row bannerImg">
            <!--<div class="col-lg-6 text-center col-12 p-5">
                <h1 class="">New Arrival</h1>
                <small>Best commections from best shops</small>
                <h4>
                    <span>$1,000</span>
                    <span class="offerDisc ml-3">$750</span>
                </h4>
                <div class="text-center mt-5">
                    <button class="btn btn-primary mr-3">Shop Now</button>
                    <button class="btn btn-scondary">Shop Later</button>
                </div>
            </div>-->
        </div>
    </div>
</div>